################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/AAO/FileContentIndex/20f73d93-40c5-4ef3-950f-50253e7d687a.vsidx
/AAO.WebAPI.BCSCSelfAssessment/AAO.BAL.BCSCSelfAssessment/bin/Debug/AAO.BAL.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.BAL.BCSCSelfAssessment/bin/Debug/AAO.BAL.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.BAL.BCSCSelfAssessment/bin/Debug/AAO.Common.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.BAL.BCSCSelfAssessment/bin/Debug/AAO.Common.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.BAL.BCSCSelfAssessment/bin/Debug/AAO.DAL.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.BAL.BCSCSelfAssessment/bin/Debug/AAO.DAL.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.BAL.BCSCSelfAssessment/bin/Debug/AAO.DTO.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.BAL.BCSCSelfAssessment/bin/Debug/AAO.DTO.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.BAL.BCSCSelfAssessment/bin/Debug/AAO.SQLHelper.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.BAL.BCSCSelfAssessment/bin/Debug/AAO.SQLHelper.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.DAL.BCSCSelfAssessment/bin/Debug/AAO.Common.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.DAL.BCSCSelfAssessment/bin/Debug/AAO.Common.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.DAL.BCSCSelfAssessment/bin/Debug/AAO.DAL.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.DAL.BCSCSelfAssessment/bin/Debug/AAO.DAL.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.DAL.BCSCSelfAssessment/bin/Debug/AAO.DTO.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.DAL.BCSCSelfAssessment/bin/Debug/AAO.DTO.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.DAL.BCSCSelfAssessment/bin/Debug/AAO.SQLHelper.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.DAL.BCSCSelfAssessment/bin/Debug/AAO.SQLHelper.BCSCSelfAssessment.pdb
/AAO.Apps.BCSCSelfAssessment/.vs/AAO.Apps.BCSCSelfAssessment/CopilotIndices/17.14.794.21998/CodeChunks.db
/AAO.Apps.BCSCSelfAssessment/.vs/AAO.Apps.BCSCSelfAssessment/CopilotIndices/17.14.794.21998/SemanticSymbols.db
/AAO.Apps.BCSCSelfAssessment/.vs/AAO.Apps.BCSCSelfAssessment/v17/.suo
/AAO.Apps.BCSCSelfAssessment/.vs/AAO.Apps.BCSCSelfAssessment/v17/DocumentLayout.backup.json
/AAO.Apps.BCSCSelfAssessment/.vs/AAO.Apps.BCSCSelfAssessment/v17/DocumentLayout.json
/AAO.Apps.BCSCSelfAssessment/.vs/AAO.Apps.BCSCSelfAssessment/v17/fileList.bin
/AAO.Apps.BCSCSelfAssessment/AAO.Apps.BCSCSelfAssessment/bin/AAO.Apps.BCSCSelfAssessment.dll
/AAO.Apps.BCSCSelfAssessment/AAO.Apps.BCSCSelfAssessment/bin/AAO.Apps.BCSCSelfAssessment.pdb
/AAO.Apps.BCSCSelfAssessment/AAO.Apps.BCSCSelfAssessment/bin/AAO.Common.BCSCSelfAssessment.dll
/AAO.Apps.BCSCSelfAssessment/AAO.Apps.BCSCSelfAssessment/bin/AAO.Common.BCSCSelfAssessment.pdb
/AAO.Apps.BCSCSelfAssessment/AAO.Apps.BCSCSelfAssessment/bin/AAO.DTO.BCSCSelfAssessment.dll
/AAO.Apps.BCSCSelfAssessment/AAO.Apps.BCSCSelfAssessment/bin/AAO.DTO.BCSCSelfAssessment.pdb
/AAO.Apps.BCSCSelfAssessment/AAO.Apps.BCSCSelfAssessment/obj/Debug/AAO.Apps.BCSCSelfAssessment.csproj.AssemblyReference.cache
/AAO.Apps.BCSCSelfAssessment/AAO.Apps.BCSCSelfAssessment/obj/Debug/AAO.Apps.BCSCSelfAssessment.dll
/AAO.Apps.BCSCSelfAssessment/AAO.Apps.BCSCSelfAssessment/obj/Debug/AAO.Apps.BCSCSelfAssessment.pdb
/AAO.Apps.BCSCSelfAssessment/AAO.Apps.BCSCSelfAssessment/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AAO.WebAPI.BCSCSelfAssessment/.vs/AAO.WebAPI.BCSCSelfAssessment/v17/DocumentLayout.backup.json
/AAO.WebAPI.BCSCSelfAssessment/.vs/AAO.WebAPI.BCSCSelfAssessment/v17/DocumentLayout.json
/AAO.WebAPI.BCSCSelfAssessment/AAO.BAL.BCSCSelfAssessment/obj/Debug/AAO.BAL.BCSCSelfAssessment.csproj.AssemblyReference.cache
/AAO.WebAPI.BCSCSelfAssessment/AAO.BAL.BCSCSelfAssessment/obj/Debug/AAO.BAL.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.BAL.BCSCSelfAssessment/obj/Debug/AAO.BAL.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.Common.BCSCSelfAssessment/bin/Debug/AAO.Common.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.Common.BCSCSelfAssessment/bin/Debug/AAO.Common.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.Common.BCSCSelfAssessment/bin/Debug/AAO.DTO.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.Common.BCSCSelfAssessment/bin/Debug/AAO.DTO.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.Common.BCSCSelfAssessment/obj/Debug/AAO.Common.BCSCSelfAssessment.csproj.AssemblyReference.cache
/AAO.WebAPI.BCSCSelfAssessment/AAO.Common.BCSCSelfAssessment/obj/Debug/AAO.Common.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.Common.BCSCSelfAssessment/obj/Debug/AAO.Common.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.DAL.BCSCSelfAssessment/obj/Debug/AAO.DAL.BCSCSelfAssessment.csproj.AssemblyReference.cache
/AAO.WebAPI.BCSCSelfAssessment/AAO.DAL.BCSCSelfAssessment/obj/Debug/AAO.DAL.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.DAL.BCSCSelfAssessment/obj/Debug/AAO.DAL.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.DTO.BCSCSelfAssessment/bin/Debug/AAO.DTO.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.DTO.BCSCSelfAssessment/bin/Debug/AAO.DTO.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.DTO.BCSCSelfAssessment/obj/Debug/AAO.DTO.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.DTO.BCSCSelfAssessment/obj/Debug/AAO.DTO.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.SQLHelper.BCSCSelfAssessment/bin/Debug/AAO.SQLHelper.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.SQLHelper.BCSCSelfAssessment/bin/Debug/AAO.SQLHelper.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.SQLHelper.BCSCSelfAssessment/obj/Debug/AAO.SQLHelper.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.SQLHelper.BCSCSelfAssessment/obj/Debug/AAO.SQLHelper.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/bin/AAO.BAL.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/bin/AAO.BAL.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/bin/AAO.Common.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/bin/AAO.Common.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/bin/AAO.DAL.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/bin/AAO.DAL.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/bin/AAO.DTO.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/bin/AAO.DTO.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/bin/AAO.SQLHelper.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/bin/AAO.SQLHelper.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/bin/AAO.WebAPI.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/bin/AAO.WebAPI.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/obj/Debug/AAO.WebAPI.BCSCSelfAssessment.csproj.AssemblyReference.cache
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/obj/Debug/AAO.WebAPI.BCSCSelfAssessment.dll
/AAO.WebAPI.BCSCSelfAssessment/AAO.WebAPI.BCSCSelfAssessment/obj/Debug/AAO.WebAPI.BCSCSelfAssessment.pdb
/AAO.WebAPI.BCSCSelfAssessment/.vs/AAO.WebAPI.BCSCSelfAssessment/v17/.suo
*.vsidx
/AAO.Apps.BCSCSelfAssessment/.vs/AAO.Apps.BCSCSelfAssessment/FileContentIndex/2eee06e8-3260-406c-aa7d-21538dd2ad4a.vsidx
/AAO.Apps.BCSCSelfAssessment/.vs/AAO.Apps.BCSCSelfAssessment/FileContentIndex/4445dab6-e33a-4ece-8164-c6ed327e4a37.vsidx
/AAO.Apps.BCSCSelfAssessment/.vs/AAO.Apps.BCSCSelfAssessment/FileContentIndex/f7a42a0b-43c6-457d-b2ef-e5013843c2d6.vsidx
/AAO.WebAPI.BCSCSelfAssessment/.vs/AAO.WebAPI.BCSCSelfAssessment/FileContentIndex/34c193a4-777c-4696-84eb-5bc8b05fa963.vsidx
/AAO.WebAPI.BCSCSelfAssessment/.vs/AAO.WebAPI.BCSCSelfAssessment/FileContentIndex/ca8bcdd9-abf8-4a95-a027-fd9caa90d09c.vsidx
/AAO.WebAPI.BCSCSelfAssessment/.vs/AAO.WebAPI.BCSCSelfAssessment/FileContentIndex/e5401495-5467-4027-8e0b-3737d71d7efc.vsidx
